<!DOCTYPE html>
<html id = "eyeTrackerContainer">
<head>
    <title>Eye Tracker</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2.0.5/FileSaver.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fetch/3.6.2/fetch.min.js"></script>
</head>
<body>
    <h1>Eye Tracker</h1>
    <button id="clk"> Start Task</button>
    <div id="videoContainer"></div>
    <div id="framesContainer"></div>

    <script src="{{ url_for('static', filename='js/main.js') }}" type="module"></script>
</body>
</html>